<!DOCTYPE html>
<html>
<head>
    <title>
        Testimonial
    </title>
    <link rel="stylesheet" href="testimonial.css">
</head>
<body>
    
    {{ 'testimonial.css' | asset_url | stylesheet_tag }}    

    <div class="custom-testimonial-wrapper page-width">
          <div class="testimonial-heading-wrapper">
          <h2 class="testimonial-title"> Testimonial </h2>
        </div>
      
            <div class="custom-testimonial-list custom-testimonial-slider">
            {%for block in section.blocks%}
                <div class="testimonial-list-item">
                  <div class="testimonial-item-wrapper">
                  {%if block.settings.testimonial_profile !=blank%}
                    <div class="testimonial-image">
                        <img src="{{block.settings.testimonial_profile | img_url:'master'}} " alt="testimonial-img" class="testimonial-img">
                    </div>
                   {%endif%} 
                      <div class="testimonial-description">
                   {%if block.settings.testimonial_desc !=blank%}
                          <p class="testimonal-text"> {{block.settings.testimonial_desc}}</p>
                    {%endif%}  
                    {%if block.settings.testimonial_auth !=blank%}
                          <h2 class="testimonal-text">~ {{block.settings.testimonial_auth}}</h2>
                    {%endif%}  
                      </div>
                  </div>
                </div>
                {%assign count=forloop.index%}
                {%endfor%}
                {% comment %} <div class="testimonial-list-item">
                  <div class="testimonial-item-wrapper">
                    <div class="testimonial-image">
                        <img src="https://via.placeholder.com/150 " alt="testimonial-img" class="testimonial-img">
                    </div>
                    <div class="testimonial-description">
                        <p class="testimonal-text"> loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,,loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,</p>
                    </div>
                  </div>
                </div>
               <div class="testimonial-list-item">
                  <div class="testimonial-item-wrapper">
                    <div class="testimonial-image">
                        <img src="https://via.placeholder.com/150 " alt="testimonial-img" class="testimonial-img">
                    </div>
                    <div class="testimonial-description">
                        <p class="testimonal-text"> loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,,loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,</p>
                    </div>
                  </div>
                </div>
               <div class="testimonial-list-item">
                  <div class="testimonial-item-wrapper">
                    <div class="testimonial-image">
                        <img src="https://via.placeholder.com/150 " alt="testimonial-img" class="testimonial-img">
                    </div>
                    <div class="testimonial-description">
                        <p class="testimonal-text"> loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,,loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,</p>
                    </div>
                  </div>
                </div>
              <div class="testimonial-list-item">
                  <div class="testimonial-item-wrapper">
                    <div class="testimonial-image">
                        <img src="https://via.placeholder.com/150 " alt="testimonial-img" class="testimonial-img">
                    </div>
                    <div class="testimonial-description">
                        <p class="testimonal-text"> loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,,loreum ipsum, loreum ipsum ,loreum ipsum, loreum ipsum ,</p>
                    </div>
                  </div>
                </div> {% endcomment %}
            </div>
    
    
        </div>
    
    
       <script async src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
       <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <script> 
      let count={{count}};
       if(count>3){
          $('.custom-testimonial-slider').slick({
            dots:false,
            arrows:false,
            infinite: true,
            speed: 100,
            autoplay:true,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
              {
                breakpoint: 1024,
                settings: {
                  slidesToShow: 3,
                  slidesToScroll: 3,
                  infinite: false,
                  arrows:false,
                  dots:false
                }
              },
              {
                breakpoint: 600,
                settings: {
                  slidesToShow: 2,
                  slidesToScroll: 2
                }
              },
              {
                breakpoint: 480,
                settings: {
                  slidesToShow: 1,
                  slidesToScroll: 1
                }
              }
             
            ]
          });
    
      }
      
    </script>
    
    
    
    {% schema %}
    {
    "name": "Custom Testimonial",
    "settings": [],
    "blocks":[
      {
        "type":"text",
        "name":"Custom Testimonial",
        "settings":[
          {
            "type":"image_picker",
            "id":"testimonial_profile",
            "label":"Image",
            "info":"width x height: 150x150 px"
          },
          {
            "type":"richtext",
            "id":"testimonial_desc",
            "label":"Description"
          },
          {
            "type":"text",
            "id":"testimonial_auth",
            "label":"Author"
          }
        ]
      }
    ],
    "presets": [
    {
    "name": "Custom Testimonial",
    "category": "ADVANCED LAYOUT"
    }
    ]
    }
    {% endschema %}


</body>

</html>
